/* Font import untuk konsistensi */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Reset dasar untuk margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h1 {
    margin-bottom: 10px;
}


.sidebar h2 {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #333;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    transition: color 0.3s ease;
}

.sidebar a:hover {
    color: #bbb;
}

.content {
    margin-left: 250px;
    padding: 20px;

}

table {
    width: 100%;
}

thead tr {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

th, td {
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

tbody tr {
    background-color: #989898;
    color: #e0e0e0;
}

.message-success {
    color: green;
    margin-top: 10px;
}

.message-error {
    color: red;
    margin-top: 10px;
}